/* Coolors Exported Palette - coolors.co/ffffff-1e000e-cadbc0-a33533-a22522 */

/* HSL */
$color1: hsla(0%, 0%, 100%, 1);
$color2: hsla(332%, 100%, 6%, 1);
$color3: hsla(98%, 27%, 81%, 1);
$color4: hsla(1%, 52%, 42%, 1);
$color5: hsla(1%, 65%, 38%, 1);

/* RGB */
$color1: rgba(255, 255, 255, 1);
$color2: rgba(30, 0, 14, 1);
$color3: rgba(202, 219, 192, 1);
$color4: rgba(163, 53, 51, 1);
$color5: rgba(162, 37, 34, 1);